<div class="contactos">
  <section class="col-sm-9">
    <ul>
      <li><img src="/imagenes/direccion-de-casa.png" />Dirección<h3>AV. XXX
          XXXX Y XXXXX, QUITO, ECUADOR</h3>
      </li>
      <li><img src="/imagenes/email.png" />Email<h3>KAARMAS1@ESPE.EDU.EC</h3>
      </li>
      <li><img src="/imagenes/llamada-telefonica.png" />Teléfono<h3>+593 985821006</h3>
      </li>

    </ul>
  </section>
</div>