
                <div class="descripcion">
                    <aside >
                        <img src="/imagenes/3.jpg">
                    </aside>
                    <section>
                        <h2>Qué es el modelado 3D?</h2>
                        <br><br>
                        <h1>Creativo3D</h1>
                        <br>
                        <p>
                           El modelado 3D consiste en utilizar software para crear una representación matemática de un objeto o forma tridimensional. El objeto creado se denomina modelo 3D y se utiliza en distintas industrias. Las industrias del cine, la televisión, los videojuegos, la arquitectura, la construcción, el desarrollo de productos, la ciencia y la medicina utilizan modelos 3D para visualizar, simular y renderizar diseños gráficos.</p>
                        <br><br><button><img src=""> Más información </button>
                    </section>


                </div>