<header class="header" class="col-sm-9">
                <!--Banner-->
                <div class="banner">
                    <h2>"Explora mas sobre nosotros"</h2><br>
                    <h1>APRENDE A DISEÑAR EN 3D</h1>
                    <br><br><br>
                    <button><span class="dashicons dashicons-menu-alt"></span>EXPLORAR</button>
                </div>
 </header>