<div class="productos" >
  <div class="produc" >
    <h2>Cursos</h2><br />
    <h1>Nuestros Cursos</h1><br />
    <p>Inspírate con estas galerías de arte digital e información de nuestros cursos y proyectos.
    </p>
    <br /><br />
    <button>Revisar</button>
  </div>
  <br /><br />
  {{getProduct}}
 
</div>